body {
  font-size: 14px;
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.table {
  white-space: nowrap;
  font-size: 14px;
}
.table-scroll {
  display: block;
  overflow: auto;
}
.sm-table {
  display: inline-table;
}
.option-table {
  display: inline-table;
}
.navbar-nav li {
  padding: 5px 10px 5px 10px;
}
.live_notify_list li {
  padding: 0px;
}
.notification-content {
  width: 250px;
}
.axis {
	font: 10px sans-serif;
}
#product-chart {
  background-color: #f8f9fa;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ebedf2;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: rgb(175,216,248);
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: rgb(248, 250, 250);
  stroke: rgb(237,194,64);
  stroke-width: 3px;
}
  
.hover-line {
  stroke: rgb(222, 145, 240);
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
.grid path,
.grid line {
  fill: none;
  stroke: #e6e5e5;
  shape-rendering: crispEdges;
}